.appbar {
  background-color: var(--main-bg) !important;
  box-shadow: none !important;
  height: 60px;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white !important;
  z-index: 9999;
  width: 100vw;
  box-shadow: none !important;
}
.appbar .logo {
  background-color: white;
  border-radius: 50%;
}
.appbar .Links {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
}
.appbar .Links label {
  color: white !important;
}
.appbar .links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch !important;
  padding: 5px;
}
.appbar .links-container li {
  margin: 5px;
  padding: 7px;
  font-size: 17px;
  /* width: 200px; */
  transition: all ease-in-out 1s;
  border-bottom: 1px rgba(0, 0, 0, 0) solid;
  text-align: left;
}
.appbar .links-container li:hover {
  border-bottom: 1px black solid;
}
.appbar button {
  color: whitesmoke;
  font-weight: 600;
  font-size: 20;
}
