.drawer-btn {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 5px !important;
  width: 100% !important;
}
.drawer {
  background-color: var(--main-bg) !important;
  width: 300px;
  color: white;
}
.drawer-close {
  display: none;
  width: 0;
}
.drawer-open {
  display: block;
  width: 300px;
}
.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
