.time {
  color: white;
  padding: 4px;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  font-weight: 600;
}
.on-time {
  background: rgb(0, 155, 49);
}
.late {
  background: red;
}
